.fotitos {
    text-align: left;
    margin-left: 30px;
    columns: 1;
    list-style: none;
    justify-content: center;
 }
.button {
    background-color: #1A73E8;
    color: white;
    font-size: 15px;
    margin: 30;
    padding: 30;
    text-align: center;
    justify-content: center;
    margin-left: -70px;
}
.botones {
    text-align: center;
    background-color: rgb(211, 205, 205);
    margin-left: 80%;
    justify-content: center;
    margin-left: -70px;
 }
.letras {
    text-align: center;
    justify-content: center;
    margin-left: -100px;
}
.fotogrand {
    text-align: center;
    justify-content: center;
    background-color: rgb(211, 205, 205); margin-left: 30%; margin-right: 30%;
}
.fotitosss {
    list-style: none;
    justify-content: center;
}
.fondoboton {
    background-color: rgb(211, 205, 205);
    text-align: center;
justify-content: center;
}
* {
    padding: 0px;
    margin: 0px;
}
.home {
    display: flex;
}