button {
    background-color: #1A73E8;
    color: white;
    font-size: 15px;
}
.boton {
text-align: right;
}
.botones {
    text-align: right;
}
.letras {
    text-align: right;
    margin-left: 50px;
}
.fotitos {
    text-align: left;
    display: grid;
    grid-template-columns: 1;
    float: left;
    margin-left: 30px;
}
.fotogrande {
    text-align: center;
}

